{
\# TEMPLATE FILE FOR CACHE DATA #\
\# P #\
"P": {
\% for i in range(P|length) %\
"\~i~\":\% if P[i] is none %\[]\% else %\\~P[i].flatten().tolist()~\\% endif %\
\% if not loop.last %\,\% endif %\

\% endfor %\},
\# K #\
"K": {
\% for i in range(K|length) %\
"\~i~\":\% if K[i] is none %\[]\% else %\\~K[i].flatten().tolist()~\\% endif %\
\% if not loop.last %\,\% endif %\

\% endfor %\},
\# LOWER CHOLESKY #\
"lowerCholesky": {
\% for i in range(low_chol|length) %\
"\~i~\":\% if low_chol[i] is none %\[]\% else %\\~low_chol[i].flatten().tolist()~\\% endif %\
\% if not loop.last %\,\% endif %\

\% endfor %\},
\# SUM OF DYNAMICS #\
"A+BK": {
\% for i in range(dyn|length) %\
"\~i~\":\% if dyn[i] is none %\[]\% else %\\~dyn[i].flatten().tolist()~\\% endif %\
\% if not loop.last %\,\% endif %\

\% endfor %\},
\# KERNEL MATRIX #\
"kernel": {
\% for i in range(ker|length) %\
"\~i~\":\% if ker[i] is none %\[]\% else %\\~ker[i].flatten().tolist()~\\% endif %\
\% if not loop.last %\,\% endif %\

\% endfor %\},
\# NULLSPACE MATRIX #\
"nullspace": {
\% for i in range(null|length) %\
"\~i~\":\% if null[i] is none %\[]\% else %\\~null[i].flatten().tolist()~\\% endif %\
\% if not loop.last %\,\% endif %\

\% endfor %\}
}