{
\# TEMPLATE FILE FOR SCENARIO TREE #\
\# total number of events #\
"numEvents": \~num_events~\,
\# total number of nonleaf nodes #\
"numNonleafNodes": \~num_nonleaf_nodes~\,
\# total number of nodes #\
"numNodes": \~num_nodes~\,
\# total number of stages (N+1) #\
"numStages": \~num_stages~\,
\# array of stage of node at index #\
"stages": [\% for i in stages %\\~i~\\% if not loop.last %\,\% endif %\\% endfor %\],
\# array of ancestor of node at index #\
"ancestors": [\% for i in ancestors %\\~i~\\% if not loop.last %\,\% endif %\\% endfor %\],
\# array of probability of visiting node at index #\
"probabilities": [\% for i in probabilities %\\~i~\\% if not loop.last %\,\% endif %\\% endfor %\],
\# array of conditional probability of visiting node at index, given parent node is visited #\
"conditionalProbabilities": [\% for i in cond_prob %\\~i~\\% if not loop.last %\,\% endif %\\% endfor %\],
\# array of event occurred that led to node at index #\
"events": [\% for i in events %\\~i~\\% if not loop.last %\,\% endif %\\% endfor %\],
\# array of first child of node at index #\
"childrenFrom": [\% for i in children %\\~i[0]~\\% if not loop.last %\,\% endif %\\% endfor %\],
\# array of last child of node at index #\
"childrenTo": [\% for i in children %\\~i[-1]~\\% if not loop.last %\,\% endif %\\% endfor %\],
\# array of number of children of node at index #\
"numChildren": [\% for i in num_children %\\~i~\\% if not loop.last %\,\% endif %\\% endfor %\],
\# array of first node of stage at index #\
"stageFrom": [\% for i in nodes_of_stage %\\~i[0]~\\% if not loop.last %\,\% endif %\\% endfor %\],
\# array of last node of stage at index #\
"stageTo": [\% for i in nodes_of_stage %\\~i[-1]~\\% if not loop.last %\,\% endif %\\% endfor %\]
}